.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumbnail{
  width:150px; height:100px; background: rgb(8,39,164); background: linear-gradient(140deg, rgba(8,39,164,1) 29%, rgba(10,123,163,1) 100%);
}

.thumbnail a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.thumbnail a svg path{
  stroke: azure;
  fill: azure;
}
.video{
  background-color: black;
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
}